.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    input,
    label,
    select {
      margin: .5rem;
    }
  }
}